.footer {
    position: absolute;
    background-color: transparent;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;   
    height: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    color: white;
}

.header{
    background-color: transparent;
    left: 0;
    top: 0;
    width: 100%;
    text-align: left;   
    height: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';  
    color: white; 
}

.titol1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular'; 
}

.btn{
    border:2px solid red;
    border-radius: 2px;
    padding:12px 18px;
    float: left;
    cursor:pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    text-align: center;
    width: 937px;
}

th, td {
    border: 1px solid #CADEFF;
}

th {
    background: #e2f2ff;
    border-top: 3px solid #a7cbff;
    height: 30px;
    text-align: center;
}

td {
    padding: 10px;
    color: #444;
}

.count .add, .count input, .count .reduce {
    float: left;
    margin-right: -1px;
    position: relative;
    z-index: 0;
}

.count .add, .count .reduce {
    height: 23px;
    width: 17px;
    border: 1px solid #e5e5e5;
    background: #f0f0f0;
    text-align: center;
    line-height: 23px;
    color: #444;
}

.count .add:hover, .count .reduce:hover {
    color: #f50;
    z-index: 3;
    border-color: #f60;
    cursor: pointer;
}

.count input {
    width: 50px;
    height: 15px;
    line-height: 15px;
    border: 1px solid #aaa;
    color: #343434;
    text-align: center;
    padding: 4px 0;
    background-color: #fff;
    z-index: 2;
}

.price {
    width: 130px;
}

.count {
    width: 90px;
}

.container {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-column-gap: 200px;
    margin-left: 200px;
    margin-top: 40px;
}

.error {
    background-color: lightblue;
    margin-left: 100px;
    margin-top: 100px;
    width: 600px;
}

.seleccio {
    color: black;
    border-style: solid;
    border-color: cornflowerblue;
    padding: 20px;
}

.form {
    border-style: solid;
    border-color: cornflowerblue;
    padding: 20px;
    background-color: #00adef;
}

input {
    float: right;
    clear: both;
    margin-right: 100px;
}

.container2 {
    width: 800px;
    height: 500px;
    margin: 0 auto;
}

#benvingut {
    text-align: center;
}

.background{
    background: linear-gradient(to bottom left, #b2d7ec, #e1d2db);
    height: 100vh;
}

.size img {
    width: 800px;
    height: 400px;
    max-height: 400px;
    background-size: cover;
}

#button{
    margin-top: 5%;
    margin-right: 5%;
    background-color: transparent;
    color: blue;
    border-radius: 10%;
    size: 20%;
    font-size: 14px;
}

#button:hover{
    color: black;
    background-color: #ffffff;
}

.logo{
    width: 50px;
    height: 30px;
}

#margins{
    margin-top: 50px;
    margin-bottom: 50px;
}

.a5{
    width: 40%;
    height: 60%;
}

div.productos{
    float: left;
    display: flex;
    border: 1px solid red;
    color: black;
}

div.producto{
    margin: 10px;
    padding: 10px;
    border: 1px solid blue;
}

div.listafinal{
    float: left;
    margin: 10px;   
}

#preciofinal {
    color: black;
}

h2.formulari, label.formulari {
    color: black;

}

#seleccio {
    border-style: solid;
    border-color: cornflowerblue;
    padding: 20px;
    background-color: #00adef;
}